.slider .btn {
  margin-top: 30px;
}
/* change size of relative search bar */
.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: white 3px solid !important;
}
/* Search autocomplete ot side container Important*/
.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}
